<p id="notice"><%= notice %></p>

<table>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td>
          <%= link_to item.name, "/items/#{item.id}/edit" %>
        </td>
        <td>
          <% item.childs.each do |child| %>
            <%= link_to child.name, "/items/#{child.id}/edit" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_item_path %>
